<!DOCTYPE html>
<html id="theme" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Algorithm Solving{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('switch') }}
        {% endblock %}
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li><a style="text-decoration: none; color: #fff;" href="{{ path('app_home') }}"><strong>Algorithm Solving</strong></a></li>
                </ul>
                <ul>
                    <li><input type="checkbox" id="dark" name="switch" role="switch">
                        <span id="theme-text">Mode Sombre</span>
                    </li>
                </ul>
            </nav>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>