{% extends 'base.html.twig' %}

{% block title %}Algorithm Generator{% endblock %}

{% block body %}

    <h3> Bienvenue dans Algorithm Solving</h3>
    <hero>
        <p> Cette plateforme va vous aidez à améliorer vos compétences à résoudre des problèmes dans tous les domaines de l'algorithmique ainsi que de la programmation. Grâce à vos efforts sûrement vous arriverez à modéliser et résoudre des problèmes d'algorithmes de tout genre.</p>
    </hero>
    <a class='primary' href='{{path('app_get') }}'> Commencer l'apprentissage </a>

{% endblock %}